*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    max-width:100%;
    /* border:1px solid grey; */
    }
    
html{
     min-width: 320px;
     /* max-width: 1080px; */
     margin: 0 auto;
    font-size:62.5%;
    }
        
body {
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    
    animation: fadeInAnimation ease 1.5s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    } 
      
@keyframes fadeInAnimation { 
    0% { 
        opacity: .2; 
    } 
    100% { 
           opacity: 1; 
     } 
    } 
        
header {
    width: 100%;
    background-color: #191414;
    display: flex;
    justify-content: center;
}

header div nav {
    /* background-color: #191414; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
}

header img {
    width: 150px;
}

div#menu {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

#login-button {
    display: block;
    background-color: #1DB954;
    color: black;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 50px;
    border: 2px solid #1DB954;
}


#about-button {
    display: block;
    background-color: #191414;
    /* border: 2px solid #1DB954; */
    color: white;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 50px;
    border: 2px solid #1DB954;
}

#login-button:hover {
    background-color: black;
    color: #1DB954;
    font-weight: 600;
    transition: .7s;
    border: 2px solid black;
}

#about-button:hover {
    background-color: black;
    color: #1DB954;
    font-weight: 600;
    transition: .7s;
    border: 2px solid black;
}

#logo img:hover {
    transform: scale(1.1);
    transition: 0.4s;
}


.container {
    width: 100%;
    max-width: 1100px;
}

section#main-landing {
    width: 100%;
    background-color: #191414;
    margin-bottom: 3rem;
}

#banner {
    min-height: 500px;
    height: 90vh;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1514525253161-7a46d19cd819?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 8rem;
    padding-bottom: 3rem;
    text-shadow: 2px 2px 3px black;
    color: white;
    text-align: center;
}

#main-landing h2 {
    font-size: 5rem;
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: 2px 2px 3px black;
    color: white;
}

#main-landing a {
    display: block;
    background-color: #1DB954;
    color: WHITE;
    text-decoration: none;
    font-size: 2rem;
    padding: 1.5rem 4rem;
    border-radius: 50px;
    box-shadow: 2px 2px 5px black;
}

#main-landing a:hover {
    background-color: black;
    color: #1DB954;
    font-weight: 600;
    transition: .7s;
    /* border: 2px solid #1DB954; */
    box-shadow: none;
}

#learn-more {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#learn-more div {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
    text-align: center;
}

#learn-more div h2 {
    margin-bottom: 1rem;
}

#learn-more div p {
    line-height: 1.5;
}


.about {
    background-color: #1DB954;
    padding: 5%;
}

section.about {
    display: flex;
    justify-content: center;
    /* padding: 2%; */
    text-align: center;
}

section.about h2 {
    font-size: 3rem;
    padding-bottom: 0.5rem;
}

section.about p {
    line-height: 1.5;
    padding-bottom: 1rem;
}

.who {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.who div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.who div div {
    width: 30%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* padding: 2rem 0; */
    margin: 2rem 0;
    border: 4px solid #191414;;
    border-radius: 10px;
}

.who h2 {
    font-size: 3rem;
    padding-bottom: 1rem;
}

.who div div h3 {
    margin: .5rem 0;
}

.who div div p {
    margin: .5rem 0 1rem;
}




@media(max-width: 1000px){
    div#menu {
        width: 25%;
    }
    #main-landing h2 {
        font-size: 4rem;
    }
    
}
@media(max-width: 800px){
    div#menu {
        justify-content: space-around;
     width: 35%;
    }
    h1 {
        font-size: 6rem;
    }
    #main-landing h2 {
        font-size: 3rem;
    }
}
@media(max-width: 500px){
    header nav {
        flex-direction: column;
        align-items: center;
    }
    header nav img {
        width: 75%;
        margin: 0 auto;
    }
    header nav a {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }
    div#menu {
       flex-direction: column;
       width: 60%;
       text-align: center;
    }
    #main-landing a {
        font-size: 1.5rem;
    }
}
